.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(270deg, #2338fa, #4dafff, #60be9f, #6f9af7); 
  background-size: 800% 800%;
  animation: gradientFlow 30s ease infinite;
}

section {
  background: white;
  padding: 30px;
  border: 5px solid #505050;
  box-shadow: 5px 5px 0 #000;
  margin-bottom: 40px;
  z-index: 2;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
}

.header {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom:3px solid #000;
  width: 100vw;
  color: rgb(0, 0, 0);
  padding: 10px;
  display: center;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.nav-links a:hover {
  text-decoration: dashed underline;
}

.footer {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.85);
  border-top:3px solid #000;
  width: 100vw;
  color: rgb(0, 0, 0);
  padding: 10px;
  display: center;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: #00bfff;
  text-decoration: none;
}

.grad-image img {
  width: 120px;
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.head-image img {
  width: 200px; 
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.diamond-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

.diamond-wrapper {
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.diamond {
  width: 40px; 
  height: 40px;
  transform: rotate(45deg);
  border: 2px solid rgba(0, 0, 0, 0.4);
  background: transparent;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  pointer-events: none;
}

.diamond.raised {
  transform: rotate(45deg) scale(1.3);
  box-shadow:
    5px 5px 6px rgba(0, 0, 0, 0.5);
}


